.Navbar {
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 999;
}

.sh-store-name {
    font-family: 'Apercu Bold';
    font-size: 1.3rem;
    color: var(--primary-text-color);
    text-align: center;
}

.sh-store-link {
    font-family: 'Apercu';
    font-size: .9rem;
    color: var(--grey-color);
    text-align: center;
}

.user-box {
    display: flex;
    align-items: center;
}

@media(min-width: 62.5em) {
    .Navbar {
        margin: 0 auto;
    }
}