/* ========================================= 
                DEFAULT VALUES:
                Font Family                     : Apercu, Apercu Bold, Apercul Light, Apercu Black
                Primary Color                   : #       (Buttons, Table background)
                Primary Text Color              : #4a4a4a       (Text Color)
                Border Color                    : #e7e7e7
============================================*/

/* ==========================================
                    VARIABLE
============================================= */

:root {
  --white-color: #fff;
  --ghost-white-color: #f9faff;
  --primary-color: #2b8d2b;
  --secondary-color: #e6ffdd;
  --primary-text-color: #4a4a4a;
  --grey-color: #979797;
  --grey2-color: #e7e7e7;
  --red-color: #d80819;

}

/* ==========================================
                      FONTS
  ============================================= */
  @font-face {
    font-family: "Apercu";
    src: url(./assets/fonts/apercu-font/Apercu.ttf);
  }
  
  @font-face {
    font-family: "Apercu Bold";
    src: url(./assets/fonts/apercu-font/Apercu-Bold.ttf);
  }
  
  @font-face {
    font-family: "Apercu Black";
    src: url(./assets/fonts/apercu-font/apercu-black.otf);
  }
  
  @font-face {
    font-family: "Apercu Light";
    src: url(./assets/fonts/apercu-font/Apercu-Light.ttf);
  }
  
  @font-face {
    font-family: "Apercu Italic";
    src: url(./assets/fonts/apercu-font/Apercu-Italic.ttf);
  }
  
  @font-face {
    font-family: "Apercu Bold Italic";
    src: url(./assets/fonts/apercu-font/Apercu-BoldItalic.ttf);
  }

/* ==========================================
                GENERAL CSS 
============================================= */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  /*  rem root default font size is: 16px
        we can use: 10px becasue it's easy to convert px to rem 
        perfect use is percentage value
        so we use: (10/16)*100 = 62.5%
    */
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Apercu", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0;
}

/* ==========================================
                REUSABLE CLASS 
============================================= */

.divider {
  border: 1px solid var(--grey2-color);
  width: 100%;
}

.divider-small {
  border: .5px solid var(--grey2-color);
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
