.menubar__icon {
    margin-right: 1rem;
    max-width: 4rem;
}
.menubar__counter {
    margin-right: 1rem;
    border: 1px solid var(--grey2-color);
    background-color: var(--yellow-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}